@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Clash;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: Clash;
  src: url(../public/ClashDisplay.ttf);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
